* {
    font-family: 'ZenKurenaido';
}

body {
    background-color: #222831;
}

.container, .form, .center-item, .images {
    display: flex;
    align-items: center;
}

.container, .form, .center-item {
    flex-direction: column;
}

.title, #name, .boton, .boton:hover, .text {
    color: #EEEEEE;
}

.container, .center-item {
    height: 100vh;
    justify-content: center;
}

.container {
    text-align: center;
}

.title {
    font-size: 6.5rem;
}

.form {
    width: 80%;
}

#name, .boton {
    width: 18rem;
}

#name {
    border-bottom: 1px solid #EEEEEE;
}

.boton {
    height: 3rem;
    background-color: #D65A31;
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.boton:hover {
    background-color: rgba(214, 90, 49, 0.75);
    transition: 0.3s;
}

/*Game page*/
.container-game {
    justify-content: flex-start;
    align-items: inherit;
}

.subtitle {
    font-size: 4rem;
    color: #D65A31;
}

.text {
    font-size: 2.5rem;
}

.images {
    justify-content: space-evenly;
}

.element, .element-button {
    width: 219.5px;
    height: 227.5px;
}

.element {
    display: inline-block;
    background-size: cover;
    margin: 20px 0;
}

.element-button {
    padding: 0;
    background: none;
    border: none;
}

.element-rock, .cpu-rock {
    background-image: url(../img/rock.svg);
}

.element-paper, .cpu-paper {
    background-image: url(../img/paper.svg);
}

.element-scissors, .cpu-scissors {
    background-image: url(../img/scissors.svg);
}

.element-rock:hover {
    background-image: url(../img/hover-rock.svg);
}

.element-paper:hover {
    background-image: url(../img/hover-paper.svg);
}

.element-scissors:hover {
    background-image: url(../img/hover-scissors.svg);
}

.element-rock:hover,  .element-paper:hover,  .element-scissors:hover, .element-button:hover {
    transition: 0.1s;
    cursor: pointer;
}

.br-probabilities {
    display: none;
}

/*Responsive*/
@media (min-width: 300px) and (max-width:689px) {
    .title, .subtitle {
        font-size: 3.5rem;
    }

    #name, #play, .boton {
        width: 16rem;
    }

    .form {
        width: 90%;
        margin: 1rem 0 !important;
        padding: 1rem 0 !important;
    }

    label, .boton {
        font-size: 1.7rem;
    }

    .formButton {
        margin: 8px;
    }

    .boton {
        height: 3.5rem;
    }

    .element, .element-button {
        width: 84px;
        height: 87.5px; 
    }

    .element, .image {
        margin: 20px 0;
    }

    #opponent-probabilities {
        font-size: 1.5rem;
        margin-top: 0.15rem!important;
        margin-bottom: 0.15rem!important;
    }

    .br-probabilities {
        display: block;
    }
}

@media (min-width: 690px) and (max-width: 1440px) {
    .title {
        font-size: 5rem;
    }

    .form {
        width: 100%;
        margin: 1rem 0 !important;
        padding: 1rem 0 !important;
    }

    label, .boton {
        font-size: 1.2rem;
    }

    .formButton {
        margin: 8px;
    }

    .subtitle {
        font-size: 3rem;
        margin-top: 0.25rem!important;
        margin-bottom: 0.25rem!important;
    }

    .element, .element-button, .image {
        width: 140.5px;
        height: 146.5px;
    }

    .element, .image {
        margin: 15px 0;
    }

    .text {
        font-size: 2rem;
    }
}
